// Colors
$primary-color: #a855f7;
$secondary-color: #ec4899;
$bg-dark: #E2E1E1;
$bg-card: #E2E1E1;
$text-light: #191a1b;
$text-gray: #131010;
$navegador: #E2E1E1;

// Shadows
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

// Breakpoints
$breakpoint-sm: 350px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$max-width: 1200px;